

body {
	margin: 0;
	background: #ecf0f1;
	color: #fff;
	font-family: sans-serif;
	line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

#accountfield {
	margin: auto;
  width: 68.5%;
  min-height: 20px;
}
#accounttext {
	
	width: 170px;
  border-radius: 0 0 25px 0px;
  background: #2980b9;
  color: white;
  text-align: left;
  padding-left:15px;
  /*margin-left: 5px;*/
}
#accurl{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.main-header {
  margin: auto;
  width: 66%;
  min-height: 70px;
  padding: 1em 2em 1em 0em;
  
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #2980b9;
}
  .main-header:after {
    content: " ";
    display: table;
    clear: both;
  }
.logo {
	display: block;
	text-decoration: none;
  float: left;
  margin-top: 5px;
}
  .logo::before {
    color: #fff;
    content: "\e001";
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    font-family: "icomoon";
    -webkit-font-smoothing: antialiased;
  }

/* Nav Demo Styles -------------------- */

.main-nav,
.drop-nav {
  background: #2c3e50;
}
.main-nav {
  float: left;
  border-radius: 4px;
  margin-top: 8px;
  border: solid 1px #1e2a36;
}
  .main-nav > li {
    float: left;
    border-left: solid 1px #1e2a36;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #395066;
}

